/*----------------------------------------------------------
    Buttons
    _buttons.scss

    Buttons styles for Base, Primary, and Secondary
    buttons.
----------------------------------------------------------*/

// Do you want a slight shadow on the button?
// If you set this variable to false it will turn of the
// Subtle shadows on all buttons, but all the other styles
// will remain intact.

$box-shadow: true;

button,
.button {
    @if $box-shadow == true {
        box-shadow: 0 3px 0 #ddd;
    }

    border: none;
    border-radius: $radius-small;
    background-color: #f1f1f1;
    color: $color-text;
    display: inline-block;
    line-height: 1;
    margin-top: .5em;
    margin-right: .5em;
    min-height: 48px;
    padding: 1em 2em;
    text-decoration: none;
    vertical-align: center;

    &:hover {
        background-color: #ddd;
        color: $color-background;
    }
}

button:focus,
button:focus:hover,
button:active,
button:active:hover,
input[type="submit"]:focus,
input[type="submit"]:focus:hover,
input[type="submit"]:active,
input[type="submit"]:active:hover,
.button:focus,
.button:active,
.button:active:hover {
    @if $box-shadow == true {
        box-shadow: 0 3px 0 $color-text-light;
    }
    background-color: $color-text-light;
    outline: none;
}

.button--primary {
    @if $box-shadow == true {
        box-shadow: 0 3px 0 $color-primary-darken;
    }
    background-color: $color-primary;
    color: $color-background;

    &:hover,
    &:focus {
        background-color: $color-primary-medium;
        @if $box-shadow == true {
            box-shadow: 0 3px 0 $color-primary-medium;
        }
    }
}

.button--secondary {
    @if $box-shadow == true {
        box-shadow: 0 3px 0 $color-secondary-darken;
    }
    background-color: $color-secondary;
    color: $color-background;

    &:hover,
    &:focus {
        background-color: $color-secondary-medium;
        @if $box-shadow == true {
            box-shadow: 0 3px 0 $color-secondary-medium;
        }
    }
}

.button--accent {
    @if $box-shadow == true {
        box-shadow: 0 3px 0 $color-accent-darken;
    }
    background-color: $color-accent;
    color: $color-background;

    &:hover,
    &:focus {
        background-color: $color-accent-medium;
        @if $box-shadow == true {
            box-shadow: 0 3px 0 $color-accent-medium;
        }
    }
}
