/*----------------------------------------------------------
    Base styles
    _base.scss

    These are the base styles for regular HTML elements
----------------------------------------------------------*/

html,
body {
    height: 100%;
}

body {
    color: $color-text;
    background-color: $color-background-subtle;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

html * {
    box-sizing: border-box;
}

a {
    color: $color-primary;
    text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
}

p {
    margin-bottom: 1.5em;
    color: $color-text;
}

ul, ol {
    margin: 0;
}

ul {
    padding-left: 1.1em;
}

ol {
    padding-left: 1.25em;
}

img {
    // Responsive images with max-width
    max-width: 100%;

    // Fluid images, if you want them just uncommment
    // width: 100%;

    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight-bold;
}

h1 {
    font-size: $font-size-h1;
    line-height: 1;
}

h2 {
    font-size: $font-size-h2;
    line-height: 1.1;
}

h3 {
    font-size: $font-size-h3;
    line-height: 1.2;
}

h4 {
    font-size: $font-size-h4;
    line-height: 1.2;
}

h5 {
    font-size: $font-size-h5;
    line-height: 1.2;
}

h6 {
    font-size: $font-size-h6;
}

abbr,
abbr[title] {
    border: none;
}

small {
    color: $color-text-medium;
}

figure {
    margin: 0;
}

blockquote {
    margin: 0;
    font-size: $font-size-h4;
    font-style: italic;

    &:before {
        content: "“";
    }

    &:after {
        content: "”";
    }
}

figcaption {
    color: $color-text-medium;
    margin-top: 1em;
}

time {
    font-style: italic;
}

dl dt {
    margin-top: .75em;

    &:first-of-type {
        margin-top: 0;
    }
}

dl dd {
    margin-left: 1.5em;
}

table {
    text-align: left;
    width: 100%;

    thead {
        background-color: $color-background-subtle;
    }

    th,
    td {
        padding: .5em;
    }

    tr {
        border-bottom: 1px solid $color-ruler;
    }
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid $color-ruler;
    display: block;
    padding: .5em 0
}
