// ---------------------------------------------------------
//
//        Typography
//
// ---------------------------------------------------------

// Defaults
$base-font-size: 100%;
$base-font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
$heading-font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;

// Font sizes
$font-size-h1: 3.615em;
$font-size-h2: 3.052em;
$font-size-h3: 2.441em;
$font-size-h4: 1.953em;
$font-size-h5: 1.563em;
$font-size-h6: 1.25em;

// Font weights
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 300;

// ---------------------------------------------------------
//
//        Colors
//
// ---------------------------------------------------------

$color-background: #fff;
$color-background-subtle: mix(black, $color-background, 2%);
$color-ruler: mix(black, $color-background, 10%);

$color-text: #313b52;
$color-text-medium: mix(white, $color-text, 50%);
$color-text-light: mix(white, $color-text, 85%);

$color-primary: #398fea;
$color-primary-medium: mix(white, $color-primary, 40%);
$color-primary-light: mix(white, $color-primary, 85%);
$color-primary-darken: mix($color-primary, black, 80%);

$color-secondary: #24bf79;
$color-secondary-medium: mix(white, $color-secondary, 40%);
$color-secondary-light: mix(white, $color-secondary, 85%);
$color-secondary-darken: mix($color-secondary, black, 80%);

$color-accent: #FF6464;
$color-accent-medium: mix(white, $color-accent, 40%);
$color-accent-light: mix(white, $color-accent, 85%);
$color-accent-darken: mix($color-accent, black, 80%);

$color-form-borders: mix($color-text, white, 40%);
$color-form-borders-focus: mix($color-text, white, 85%);

// ---------------------------------------------------------
//
//        Breakpoints
//
// ---------------------------------------------------------

$bp-small: 500px;
$bp-medium: 800px;
$bp-large: 1080px;

// ---------------------------------------------------------
//
//        Miscellaneous
//
// ---------------------------------------------------------

// Global radius
$radius-small: 3px;
$radius-large: 6px;
